<h1>Listing employments</h1>

<table>
  <tr>
    <th>Company</th>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @employments.each do |employment| %>
  <tr>
    <td><%=h employment.company_id %></td>
    <td><%=h employment.user_id %></td>
    <td><%=h employment.title %></td>
    <td><%=h employment.description %></td>
    <td><%= link_to 'Show', employment %></td>
    <td><%= link_to 'Edit', edit_employment_path(employment) %></td>
    <td><%= link_to 'Destroy', employment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New employment', new_employment_path %>