<h1>Editing call</h1>

<% form_for(@call) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :role_id %><br />
    <%= f.text_field :role_id %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :creator_id %><br />
    <%= f.text_field :creator_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @call %> |
<%= link_to 'Back', calls_path %>