<h1>Editing call</h1>

<% form_for(@call) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_id %><br />
    <%= f.select :project_id, Project.all.map { |p| [p.name, p.id] } %>
  </p>
  <p>
    <%= f.label :role_id %><br />
    <%= f.select :role_id, Role.all.map { |r| [r.name, r.id] } %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.select :location_id, Location.all.map { |l| [l.name, l.id] } %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @call %> |
<%= link_to 'Back', calls_path %>