<h1>calls
  <% if @role %>
    <%= " for #{@role.name.pluralize}" %>
  <% end %>
  <% if @project %>
    <%= " on #{@project.name}"%>
  <% end %>
  <% if @location %>
    <%= " at #{@location.name}"%>
  <% end %>
  <% if @city %>
    <%= " in #{@city.name}"%>
  <% end %>
</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Role</th>
    <th>Location</th>
    <th>Time</th>
  </tr>

<% @calls.each do |call| %>
  <tr>
    <td><%= link_to call.project.name, call.project %></td>
    <td><%= link_to call.role.name, call.role %></td>
    <td><%= link_to call.location.name, call.location %></td>
    <td><%=h call.time.strftime("%l:%M %p on %b %d") %></td>
    <td><%= link_to 'Show', call %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New call', new_call_path %>