<p>
  <b>Project:</b>
  <%= link_to @call.project.name, project_calls_path(@call.project) %>
</p>

<p>
  <b>Role:</b>
  <%= link_to @call.role.name, role_calls_path(@call.role) %>
</p>

<p>
  <b>Location:</b>
  <%= link_to @call.location.name, location_calls_path(@call.location) %>
</p>

<p>
  <b>Time:</b>
  <%=h @call.time.strftime("%l:%M %p on %b %d") %>
</p>
<%= link_to_function 'tell us a detail!', "$('new_detail').toggle();" %>
<% form_for @call.details.new, :html => {:style => 'display:none;'} do |f| %>
  <%= f.wysihat_editor :content, :size => '38x3' %>
  <%= f.submit :save %>
  <%= f.check_box :private %>
  <%= f.label :private, '(privately)' %>
  <%= f.hidden_field :subject_type %>
  <%= f.hidden_field :subject_id %>
<% end %>

<% @call.details.public.each do |d| %>
  <% div_for d do %>
    <%= d.content %>
  <% end %>
<% end %>
