<p>
  <b>Project:</b>
  <%= link_to @call.project.name, project_calls_path(@call.project) %>
</p>

<p>
  <b>Role:</b>
  <%= link_to @call.role.name, role_calls_path(@call.role) %>
</p>

<p>
  <b>Location:</b>
  <%= link_to @call.location.name, location_calls_path(@call.location) %>
</p>

<p>
  <b>Time:</b>
  <%=h @call.time.strftime("%l:%M %p on %b %d") %>
</p>

<div id="interest">
  <% if @interest = current_user.andand.is_interested_in(@call) %>
    You have expressed interest in this call. <%= link_to '[edit]', edit_interest_path(@interest) %>
  <% elsif current_user %>
    <%= link_to_remote 'express interest', :url => interests_path(:interest => {:user_id => current_user.id, :subject_type => 'Call', :subject_id => @call.id}), :update => 'interest' %>
  <% else %>
    <%= link_to 'notify me about this call by email' %>
  <% end %>
</div>

<h2 class="interested">People interested in this role:</h2>
<div id="interested">
  <% @call.interested_users.each do |u| %>
    <%= link_to u.name + ' (' + u.login + ')', u %>
    <% if @call.creator == current_user %>
      <%= @call.interests.find_by_user_id(u.id).content %><br>
    <% end %>
  <% end %>
</div>

<%= link_to_function 'tell us a detail!', "$('new_detail').toggle();" %>
<% form_for @call.details.new, :html => {:style => 'display:none;'} do |f| %>
  <%= f.wysihat_editor :content, :size => '38x3' %>
  <%= f.submit :save %>
  <%= f.check_box :private %>
  <%= f.label :private, '(privately)' %>
  <%= f.hidden_field :subject_type %>
  <%= f.hidden_field :subject_id %>
<% end %>

<% @call.details.public.each do |d| %>
  <% div_for d do %>
    <%= d.content %>
  <% end %>
<% end %>

<%= link_to_function 'show private details', "$('private_details').toggle()" %>

<div id="private_details" style='display:none'>
  <% @call.details.private.find_all_by_creator_id(current_user.id).each do |d| %>
    <% div_for d do %>
      <%= d.content %>
    <% end %>    
  <% end %>
</div>
