<div id='profile'>
  <p class='name'>
    <%=h @user.name %>
  </p>

  <h1>
    <%=h @user.login %>
  </h1>
  
  <div id="friendship">
    <%= link_to_remote 'friend', :url => friendships_path(:friendship => {:accepter_id => @user.id}), :update => 'friendship' %>
  </div>
  <div id="followership">
    <%= link_to_remote 'follow', :url => followerships_path(:followership => {:followed_id => @user.id}), :update => 'followership' %>
  </div>
  <div id="favorite">
    <%= link_to_remote 'favorite', :url => favorites_path(:favorite => {:favorite_type => 'User', :favorite_id => @user.id}), :update => 'favorite' %>
  </div>

  <%= link_to_function 'tell us a detail!', "$('new_detail').toggle();" %>
  <% form_for @user.details.new, :html => {:style => 'display:none;'} do |f| %>
    <%= f.wysihat_editor :content, :size => '38x3' %>
    <%= f.submit :save %>
    <%= f.check_box :private %>
    <%= f.label :private, '(privately)' %>
    <%= f.hidden_field :subject_type %>
    <%= f.hidden_field :subject_id %>
  <% end %><br>

  <% @user.details.public.each do |d| %>
    <% div_for d do %>
      <%= d.content %>
    <% end %>
  <% end %>

  <% if @user == current_user %>
    <%= link_to 'roles I am interested in', user_roles_path(@user) %><br>
    <%= link_to 'my projects', user_projects_path(@user) %><br>

    <%= link_to_function 'show private details', "$('private_details').toggle()" %>

    <div id="private_details" style='display:none'>
      <% @user.details.private.each do |d| %>
        <% div_for d do %>
          <%= d.content %>
        <% end %>    
      <% end %>
    </div>
  <% end %>
  <hr>
  <%= link_to '[edit]', edit_user_path(@user) if @user == current_user %>
</div>