<p>
  <b>Subject:</b>
  <%=h @interest.subject_id %>
</p>

<p>
  <b>Subject type:</b>
  <%=h @interest.subject_type %>
</p>

<p>
  <b>User:</b>
  <%=h @interest.user_id %>
</p>

<p>
  <b>Content:</b>
  <%=h @interest.content %>
</p>


<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>