
<b>
  <%=h @interest.subject.name %>
</b>
<p>
  <b>User:</b>
  <%=h @interest.user.name %>
</p>

<p>
  <%=h @interest.content %>
</p>


<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>