<div id="projects">
  <%= render :partial => @projects %>
  <%= "projects in which you have involved yourself:" if @involved_projects.present? %>
  <%= render :partial => @involved_projects %>
  <%= "projects in which you are interested:" if @interesting_projects.present? %>
  <%= render :partial => @interesting_projects %>
</div>

<br />
<%= link_to 'my new project', new_project_path, :class => 'new' %>
<%= link_to 'my projects', user_projects_path(current_user) unless params[:user_id].present? %>
<div class="cleardiv"></div>