<h2 class='project'>
  <%=h @project.name %>
</h2>

<p class='project'>
  <%=h @project.description %>
</p>

<%= 'needed: ' unless @project.roles.empty? %>

<% @project.roles.each do |role| %>
  <%= link_to role.name, project_role_calls_path(@project, role) %>
<% end %>
<br>

<div id="interest">
  <% if @interest = current_user.andand.is_interested_in(@project) %>
    You have expressed interest in this call. <%= link_to '[edit]', edit_interest_path(@interest) %>
  <% elsif current_user %>
    <%= link_to_remote 'express interest', :url => interests_path(:interest => {:user_id => current_user.id, :subject_type => 'Project', :subject_id => @project.id}), :update => 'interest' %>
  <% else %>
    <%= link_to 'notify me about this call by email' %>
  <% end %>
</div>

<h2 class="interested">People interested in this role:</h2>
<div id="interested">
  <% @project.interested_users.each do |u| %>
    <%= link_to u.name + ' (' + u.login + ')', u %>
    <% if @project.creator == current_user %>
      <%= @project.interests.find_by_user_id(current_user.id).content %><br>
    <% end %>
  <% end %>
</div>

<% if current_user_created(@project) %>
  <%= link_to '[edit]', edit_project_path(@project) %>
  <%= link_to '[remove]', project_path(@project), :method => :delete %>
<% end %><br>
<%= link_to_function 'tell us a detail!', "$('new_detail').toggle();" %>
<% form_for @project.details.new, :html => {:style => 'display:none;'} do |f| %>
  <%= f.wysihat_editor :content, :size => '38x3' %>
  <%= f.submit :save %>
  <%= f.check_box :private %>
  <%= f.label :private, '(privately)' %>
  <%= f.hidden_field :subject_type %>
  <%= f.hidden_field :subject_id %>
<% end %><br>

<% @project.details.public.each do |d| %>
  <% div_for d do %>
    <%= d.content %>
  <% end %>
<% end %>
<% private_details = @project.details.private.find_all_by_creator_id(current_user.id) %>
<%= link_to_function 'show private details', "$('private_details').toggle()" unless private_details.empty?%>

<div id="private_details" style='display:none'>
  <% private_details.each do |d| %>
    <% div_for d do %>
      <%= d.content %>
    <% end %>  
  <% end %>
</div>