<h2 class='project'>
  <%=h @project.name %>
</h2>

<p class='project'>
  <%=h @project.description %>
</p>

<%= 'needed: ' unless @project.roles.empty? %>

<% @project.roles.each do |role| %>
  <%= link_to role.name, project_role_calls_path(@project, role) %>
<% end %>

<%= link_to 'edit', edit_project_path(@project) if current_user.andand.==(@project.creator) %>