<h1>update: <%= @company.name %></h1>

<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.wysihat_editor :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<% link_to 'add a place of business', new_company_business_path(@company)) %>