<p>
  <b><%=h @company.name %></b>
</p>

<p>
  <%=h @company.description %>
</p>

<div id="employment">
  <% unless current_user.andand.is_employed_at(@company) %>
    <%= link_to_remote 'I work here', :url => employments_path(:employment => {:company_id => @company.id, :user_id => current_user.id}), :update => 'employment' %>
  <% end %>
</div>

<%= link_to 'employees', company_employments_path(@company) %>
<br>
<%= link_to 'involved projects', company_projects_path(@company) %>

<%= link_to '[edit]', edit_company_path(@company) if current_user == @company.creator %>