<h1>describe <%= @involvement.participant.name %>'s involvement</h1>

<% form_for(@involvement) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'describe' %>
  </p>
<% end %>


<% if @company = @involvement.company %>
  Which employees are involved?<br>
  <% @company.employees.each do |e| %>
    <% if e.is_involved_in(@involvement.project) %>
      <%= e.name + ' is involved.'%><br>
    <% else %>
      <%= e.name + link_to(' is involved?', involvements_path(:involvement => {:participant_type => 'User', :participant_id => e.id, :project_id => @involvement.project_id}), :method => :post)%>
    <% end %>
  <% end %>
<% end %>
<br>
<%= link_to '[remove]', @involvement, :method => :delete %>