<h3>
  <%=h @role.name %>
</h3>

<p>
  <%=h @role.description %>
</p>


<%= link_to_function 'tell us a detail!', "$('new_detail').toggle();" %>
<% form_for @role.details.new, :html => {:style => 'display:none;'} do |f| %>
  <%= f.wysihat_editor :content, :size => '38x3' %>
  <%= f.submit :save %>
  <%= f.check_box :private %>
  <%= f.label :private, '(privately)' %>
  <%= f.hidden_field :subject_type %>
  <%= f.hidden_field :subject_id %>
<% end %>

<% @role.details.public.each do |d| %>
  <% div_for d do %>
    <%= d.content %>
  <% end %>
<% end %>
