<p>
  <b><%=h @city.name %></b>
</p>

<p>
  <%=h @city.state.andand.name %>
</p>

<%= link_to 'calls', city_calls_path(@city) %>
<br>
<%= link_to 'companies', city_companies_path(@city) %>
<br>
<%= link_to 'locations', city_locations_path(@city) %>
<br>
<%= link_to 'cities', cities_path %>