<h1>Listing details</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Subject type</th>
    <th>Subject</th>
  </tr>

<% @details.each do |detail| %>
  <tr>
    <td><%=h detail.content %></td>
    <td id="<%= dom_id(detail) %>"><% if detail.creator == current_user %><%= !detail.private? ? link_to_remote('make private', :url => detail_path(detail, :detail => {:private => '0'}), :method => :put, :update => dom_id(detail)) : link_to_remote('make public', :url => detail_path(detail, :detail => {:private => '1'}), :method => :put, :update => dom_id(detail)) %><% end %></td>
    <td><%=h detail.subject.name %></td>
    <td><%= link_to 'Show', detail %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New detail', new_detail_path %>