<p>
  <b>Content:</b>
  <%=h @detail.content %>
</p>

<p>
  <b>Subject type:</b>
  <%=h @detail.subject_type %>
</p>

<p>
  <b>Subject:</b>
  <%=h @detail.subject_id %>
</p>


<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>