<h1>locations
  <% if @city %>
    <%= " in #{@city.name}" %>
  <% end %>
  <% if @state %>
    <%= " in #{@state.name}" %>
  <% end %>
</h1>

<table>

<% @locations.each do |location| %>
  <tr>
    <td><%= link_to location.name, location %></td>
    <td><%=h location.address %></td>
    <td><%= link_to location.city.name, location.city if location.city %></td>
    <td><%= link_to location.state.name, location.state if location.state %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'add location', new_location_path %>