<p>
  <b><%=h @location.name %></b>
</p>

<%= link_to(pluralize(@location.calls.count, 'call'), location_calls_path(@location)) %>

<p>
  <%= 'Description/directions:' if @location.description.present? %>
  <%=h @location.description %>
</p>

<p>
  <%=h @location.address %><br>
  
  <%=h @location.line2 %>
</p>

<p>
  <%=h @location.city.andand.name %>, 
  <%=h @location.state.andand.name %>
  <%=h @location.zip %>
</p>

<p>
  <b>Floor:</b>
  <%=h @location.floor %>
</p>

<p>
  <b>Room:</b>
  <%=h @location.room %>
</p>

<%= link_to 'schedule a call at ' + @location.name, new_call_path(:call => {:location_id => @location.id}) %><br>

<%= link_to_function 'tell us a detail!', "$('new_detail').toggle();" %>
<% form_for @location.details.new, :html => {:style => 'display:none;'} do |f| %>
  <%= f.wysihat_editor :content, :size => '38x3' %>
  <%= f.submit :save %>
  <%= f.check_box :private %>
  <%= f.label :private, '(privately)' %>
  <%= f.hidden_field :subject_type %>
  <%= f.hidden_field :subject_id %>
<% end %>

<% @location.details.public.each do |d| %>
  <% div_for d do %>
    <%= d.content %>
  <% end %>
<% end %>
<br>
<% private_details = @location.details.private.find_all_by_creator_id(current_user.id) %>
<%= link_to_function 'show private details', "$('private_details').toggle()" unless private_details.empty?%>

<div id="private_details" style='display:none'>
  <% private_details.each do |d| %>
    <% div_for d do %>
      <%= d.content %>
    <% end %>    
  <% end %>
</div>

