<p>
  <b><%=h @location.name %></b>
</p>

<%= link_to(pluralize(@location.calls.count, 'call'), location_calls_path(@location)) %>

<p>
  <%= 'Description/directions:' if @location.description.present? %>
  <%=h @location.description %>
</p>

<p>
  <%=h @location.address %><br>
  
  <%=h @location.line2 %>
</p>

<p>
  <%=h @location.city %>, 
  <%=h @location.state %>
  <%=h @location.zip %>
</p>

<p>
  <b>Floor:</b>
  <%=h @location.floor %>
</p>

<p>
  <b>Room:</b>
  <%=h @location.room %>
</p>