%html
  %head
    = javascript_include_tag :defaults#, 'wysihat', 'wysihat_engine', 'facebox'
    = stylesheet_link_tag :all
    %title
      My Open Call - the free directory for casting calls
  %body
    .login
      = login_stuff
    .links
      = resource_links
    = yield