%html
  %head
    = javascript_include_tag :defaults#, 'wysihat', 'wysihat_engine', 'facebox'
    = stylesheet_link_tag :all
    %title
      My Open Call - the free directory for casting calls
  %body
    #border
      #links
        = resource_links
      #login
        = login_stuff
      .cleardiv
      #box
        = yield
      