%html
  %head
    = javascript_include_tag :defaults#, 'wysihat', 'wysihat_engine', 'facebox'
    = stylesheet_link_tag :all
    %title
      My Open Call - the free directory for casting calls
  %body
    #border
      #synopsis
        My Open Call is the free directory for creative opportunities.  Search for casting calls in your area, post your needs for your own projects, and recommend roles to friends.
        %br
        %br
        Have you ever wondered about being involved in a film?  <b>I knew it.</b>  Are you a model, a photographer, stylist, or DJ?  You could be a great one. You might as well try!
      #links
        = resource_links
      #login
        = login_stuff
      .cleardiv
      #box
        = yield
      
    = google_analytics